doctype
html(lang='ja-jp')
    head
        block title
        title= title
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        //-basic meta
        meta(content='#{title}', name='title')
        meta(content='#{description}', name='description')
        meta(content='#{keywords}', name='keywords')

        //- OGP
        meta(property='og:title', content='#{title}')
        meta(property='og:description', content='#{description}')
        meta(property='og:type', content='website')
        meta(property='og:url', content='#{url}')
        meta(property='og:image', content='https://images/ogp.jpg')
        meta(property='og:site_name', content='#{name}')
        meta(property='og:locale', content='ja_JP')

        //- OGP Facebook insights
        meta(property='fb:admins', content='facebookのユーザーID fb:app_idで良い。')
        meta(property='fb:app_id', content='facebookのアプリID')

        //- OGP Twitter Cards
        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content='@ツイッターアカウントを記載')
        block mata

        link(rel='shortcut icon', href='#{path}common/images/favicon.ico', type='img/x-icon')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/css/uikit.min.css')
        link(rel='stylesheet', href='#{path}common/css/style.css')
        block link

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/js/uikit.min.js')
        script(src='#{path}assets/js/module.js')
        script(src='#{path}common/js/common.js')
        block script

    block body
  

    
    
